/node_modules
/vendor

.env.backup
.phpunit.result.cache
docker-compose.override.yml
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/.idea
/.vscode
.DS_Store
.DS_Store/*
/.DS_Store

storage/logs/
storage/framework/
storage/debugbar/
storage/media-library/
storage2/*

package-lock.json
_ide_helper.php
_ide_helper_models.php

public/file/service-account-file.json
database/seeders/PaymentGatewayDataTableSeeder.php
public/storage/125/service-account-file.json
public/service-account-file.json
public/*/service-account-file.json
* copy.vue
error_log
public/error_log
